#pinoutBase{
    display: grid;
    grid-template-columns: auto auto;
    font: large;
    color: white;
    list-style-type: none;
    margin-bottom: 0;
    background: #073642;
}

input[type='checkbox']{
    margin: 0 0 0 10px;
}