@page
@model MyApp.Namespace.GpioModel
@{
    ViewData["Title"]="Gpio";
}

<form method="post">
    <input asp-for="Gpio18"/>
    <input asp-for="Gpio23"/>
    <input asp-for="Gpio24"/>
    <p>@Model.Gpio17</p>
    <p>@Model.Gpio27</p>
    <p>@Model.Gpio22</p>
    <button>Click</button>
</form>